<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  
  
  <!-- This key is for Application Insights resource 'FormUI' in resource group 'Default-ApplicationInsights-EastUS' -->
  <InstrumentationKey>1258b1c5-a6d5-421f-8d30-0ef25e455f85</InstrumentationKey>
</ApplicationInsights>