.sg input {
  padding: 6px 12px; }

.sg input:focus,
.sg textarea:focus,
.sg select:focus,
.sg button:focus {
  outline: 3px solid #ffbf47;
  outline-offset: 0; }

.sg .form-group label {
  font-weight: normal; }

.sg .form-group .help-block {
  color: #6f777b; }

.sg .form-group .input-wrapper input {
  border: 1px solid #b3b3b3; }

.sg .date-input {
  padding: 3px;
  /* the overflow prevents the float cascaing onto the next element: http://www.quirksmode.org/css/clearing.html#link3 */
  overflow: auto; }
  .sg .date-input .day {
    float: left;
    width: 70px; }
    .sg .date-input .day input {
      width: 50px; }
  .sg .date-input .month {
    float: left;
    width: 70px; }
    .sg .date-input .month input {
      width: 50px; }
  .sg .date-input .year {
    float: left;
    width: 120px; }
    .sg .date-input .year input {
      width: 100px; }

