.sg input {
  padding: 6px 12px; }

.sg input:focus,
.sg textarea:focus,
.sg select:focus,
.sg button:focus {
  outline: 3px solid #ffbf47;
  outline-offset: 0; }

.sg .validation-summary-errors {
  color: red; }

.js .sg .form-group.initially-hidden {
  display: none; }

.sg .form-group label {
  font-weight: normal; }

.sg .form-group .help-block {
  color: #6f777b; }

.sg .form-group .input-wrapper input {
  border: 1px solid #b3b3b3; }

.sg .form-group .input-wrapper.control-width-medium {
  width: 360px; }

.sg .form-group .input-wrapper.control-width-small {
  width: 100px; }

.sg .date-input {
  padding: 3px;
  /* the overflow prevents the float cascaing onto the next element: http://www.quirksmode.org/css/clearing.html#link3 */
  overflow: auto; }
  .sg .date-input .day {
    float: left;
    width: 70px; }
    .sg .date-input .day input {
      width: 50px; }
  .sg .date-input .month {
    float: left;
    width: 70px; }
    .sg .date-input .month input {
      width: 50px; }
  .sg .date-input .year {
    float: left;
    width: 120px; }
    .sg .date-input .year input {
      width: 100px; }

.sg .radio.radio-inline {
  overflow: auto;
  padding-top: 4px;
  padding-left: 5px; }
  .sg .radio.radio-inline .radio-item {
    float: left;
    margin-right: 30px; }

.sg .radio .radio-item {
  position: relative;
  padding: 8px 10px 9px 50px; }
  .sg .radio .radio-item input {
    position: absolute;
    left: 0;
    top: 2px;
    width: 38px;
    height: 38px;
    outline: none !important; }
  .sg .radio .radio-item input:checked::before {
    content: "";
    border: 2px solid;
    background: transparent;
    width: 37px;
    height: 37px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%; }
  .sg .radio .radio-item input:focus::before {
    box-shadow: 0 0 0 5px #ffbf47; }

.sg .confirm-check-box.emphasise label span {
  font-weight: bold; }

.sg .confirm-check-box label {
  position: relative; }
  .sg .confirm-check-box label input {
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  .sg .confirm-check-box label span {
    padding-left: 50px;
    display: block; }

