.sg {

    input {
        padding: 6px 12px;
    }

    input:focus,
    textarea:focus,
    select:focus,
    button:focus {
      outline: 3px solid #ffbf47;
      outline-offset: 0; }


    .validation-summary-errors {
        color: red;
    }

    .form-group {

        label {
            font-weight: normal;
        }

        .help-block {
            color: #6f777b;
        }

        .input-wrapper {

            input {
                border: 1px solid #b3b3b3;
            }

            &.control-width-medium {
                width: 360px;
            }

            &.control-width-small {
                width: 100px;
            }

        }

    }

    .date-input {

        padding: 3px;

        .day {
            float: left;
            width: 70px;

            input { width: 50px; }
        }

        .month {
            float: left;
            width: 70px;

            input { width: 50px; }
        }

        .year {
            float: left;
            width: 120px;

            input { width: 100px; }
        }

        /* the overflow prevents the float cascaing onto the next element: http://www.quirksmode.org/css/clearing.html#link3 */
        overflow: auto;

    }

    .radio {

        &.radio-inline {
            overflow: auto;
            padding-top: 4px;
            padding-left: 5px;

            .radio-item {
                float: left;
                margin-right: 30px;
            }
        }

        .radio-item {
            position: relative;
            padding: 8px 10px 9px 50px;

            input {
                position: absolute;
                left: 0;
                top: 2px;
                width: 38px;
                height: 38px;
                outline: none !important;
            }

            input:checked::before {
                content: "";
                border: 2px solid;
                background: transparent;
                width: 37px;
                height: 37px;
                position: absolute;
                top: 0px;
                left: 0px;
                border-radius: 50%;
            }

            input:focus::before {
                box-shadow: 0 0 0 5px #ffbf47;
            }

        }

    }

    .confirm-check-box {

        &.emphasise {
            label {
                span { font-weight: bold; }
            }
        }

        label {

            position: relative;

            input {
                width: 30px;
                height: 30px;
                display: block;
                float: left;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }

            span {
                padding-left: 50px;
                display: block;
            }

        }

    }

}
