@{
    ViewBag.Title = "Best Start Grant - About You";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">
        <article>

            <header class="article-header">
                <h1 class="article-header__title">About You ...</h1>
            </header>

            <div class="body-content">

                <p>Please complete all the details below to register for the Sure Start Maternity Grant.</p>

                <p>You must complete all fields, unless they're marked as (optional)...</p>

                <div class="form-box">
                    <form class="in-article-form main-content">

                        <h2>Your Personal  Details</h2>

                        <div class="form-group relative">
                            <label for="NationalInsuranceNumberText">
                                National Insurance number
                            </label>
                            <p class="help-block">
                                It's on your National Insurance Card, benefit letter, payslip or P60.
                                <br>
                                For example, 'VO 12 34 56 D'.
                            </p>
                            <div class="input-wrapper">
                                <input id="NationalInsuranceNumberText" class="grey form-control" type="text">
                            </div>
                        </div>

                    </form>
                </div>

            </div>

        </article>
    </div><!--
--></div>
