@{
    ViewBag.Title = "Best Start Grant - About You";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">
        <article>

            <header class="article-header">
                <h1 class="article-header__title">About You ...</h1>
            </header>

            <div class="body-content">

                <p>Please complete all the details below to register for the Sure Start Maternity Grant.</p>

                <p>You must complete all fields, unless they're marked as (optional)...</p>

            </div>

        </article>
    </div><!--
--></div>
