@inherits WebViewPage<ApplicantBenefits>
@{
    ViewBag.Title = "Best Start Grant - Your Benefits part 1";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        <h1>Your benefits</h1>

        <form method="post">

            @Html.ValidationSummary()


            @(Html.LabelledRadioYesNo(m => m.HasExistingBenefit)
                .BeforeControl(@"
                <ul>
                    <li>Income Support</li>
                    <li>Income-based Jobseekers Allowance</li>
                    <li>Income-related Employment and Support Allowance</li>
                    <li>Universal Credit</li>
                    <li>Child Tax Credit</li>
                    <li>Working Tax Credit</li>
                    <li>Housing Benefit</li>
                    <li>Pension Credit</li>
                </ul>"))


            @Html.ButtonSubmitNext()

        </form>

    </div><!--
--></div>
