@{
    ViewBag.Title = BsgText.TitlePrefix() + "Before You Apply";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        <h1>Before You Apply</h1>

        <h2>You'll need to know:</h2>

        <ul>
            <li>the names of any benefits you get</li>
            <li>your National Insurance number</li>
            <li>the GMC No. or NMC pin of the midwife, doctor or nurse looking after you or your partner - ask them to give you this for the application</li>
        </ul>

        <p>
            If you have any problems getting this information contact us on 01010 101 010.
        </p>

        <form method="post">
            @Html.ButtonSubmit("Apply Now >")
        </form>

    </div><!--
--></div>
