@{
    ViewBag.Title = BsgText.TitlePrefix() + "Complete";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        <h1>We've received your application</h1>

        <h2>Thank you for your application</h2>

        <p>
            You will normally hear from us about your application within 10 working days. 
            If you have any questions about your application you can contact us at:
        </p>

        @Html.Partial(SharedViews.SsaContactDetails, false)

    </div><!--
--></div>

