@inherits WebViewPage<HealthProfessional>
@{
    ViewBag.Title = "Best Start Grant - Health Professional";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        <h1>Health Professional ...</h1>

        <form method="post">

            @Html.ValidationSummary()


            @Html.LabelledInputText(m => m.Pin)

            @Html.ButtonSubmitNext()

        </form>

    </div><!--
--></div>