@{
    ViewBag.Title = "Best Start Grant";
}

<div>
    <h1>Best Start Grant Alpha</h1>

    <a class="button button--primary" title="Next" href="@Url.Content(BsgActions.Overview())">
        <span class="link-text">Next</span>
    </a>

</div>
