@inherits WebViewPage<IneligibleModel>
@{
    ViewBag.Title = "Best Start Grant - Update";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        <h1>Update on Best Start Grant application</h1>

        <h2>Unfortunately from what you have told us you don't seem to qualify for the Best Start Grant. This means you can't submit this application</h2>

        <p>
            If you would like support or any further information about your application please contact us on 01010 101 010 or request a <a href="#">call back here</a>.
        </p>

        <br />
        <br />

        @Html.ButtonLink(BsgActions.ApplicantDetails(Model.Id), "Review your application")

    </div><!--
--></div>