@inherits WebViewPage<IneligibleModel>
@{
    ViewBag.Title = "Best Start Grant - Update";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        <h1>Update on Best Start Grant application</h1>

        <h2>You can’t get the Best Start Grant based on your answers</h2>

        <p>
            Based on answers you have submitted we believe you are ineligible from the BSG.  If you
            would like any further information please contact us on xxxx or request a <a href="#">call back here</a>
        </p>

        <br />
        <br />

        @Html.ButtonLink(BsgActions.ApplicantDetails(Model.Id), "Review submission")

    </div><!--
--></div>