@{
    ViewBag.Title = "Best Start Grant - Overview";
}

<div>

    <h1>Best Start Grant Alpha</h1>

    <h2>Overview</h2>

    <p>
        You could get a one-off payment of &pound;500 to help towards the costs of having a child.
        This is known as a Sure Start Maternity Grant.
    </p>

</div>
