@{
    ViewBag.Title = "Best Start Grant - Overview";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        <h1>Best Start Grant Alpha</h1>

        <h2>Overview</h2>

        <p>
            The Best Start Grant is split into two elements and provides effective
            support to eligible families during early years.
        </p>

        <p>
            The first element  provides payments to parents or carers at key points during a child's early years.
        </p>

        <p>
            For your first child: &pound;600 payable 11 weeks before the birth of your child till 6 months old.
        </p>

        <p>
            For all subsequent Children: &pound;300 payable 11 weeks before the birth of your child till 6 months old.
        </p>

        <p>
            Second Payment of &pound;250 when your child is between 24 and 42 months old.
        </p>

        <p>
            Third Payment of &pound;250 when your child is between 48 and 66 months old.
        </p>

        <p>
            The second element provides eligible pregnant women and families with children up to their 4th birthday
            to vouchers to purchase prescribed foods, Cow’s milk or infant formula. These vouchers are valued at &pound;3.10
            and can be redeemed at registered retailers.
        </p>

        @Html.ButtonLinkNext(BsgActions.AboutYou())

    </div><!--
--></div>

