@inherits WebViewPage<AjaxFormModel>
@using FormUI.Controllers.Harness
<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        <h2>Ajax form example</h2>

        <form method="post">

            @Html.ValidationSummary()

            @Html.LabelledInputDate(m => m.Date).AjaxOnChange(HarnessActions.AjaxForm())

            @Html.LabelledInputText(m => m.String1).InitiallyHidden()
            @Html.LabelledInputText(m => m.String2).InitiallyHidden()

        </form>

    </div><!--
--></div>
