@inherits WebViewPage<HarnessModel>
@using FormUI.Controllers.Harness
<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        <h2>Form example</h2>

        <form method="post">

            @(Html.LabelledInputText("Text1", m => m.Text1)
                .Hint("optional - no validation"))

            @Html.ButtonSubmit()

        </form>

    </div><!--
--></div>
