@using FormUI.Controllers.Harness
<div>

    <ul>

        <li><a href="@Url.Content(HarnessActions.InputText())">InputText</a></li>

        <li><a href="@Url.Content(HarnessActions.InputDate())">InputDate</a></li>

    </ul>

</div>
