@inherits WebViewPage<HarnessModel>
@using FormUI.Controllers.Harness
<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        <h2>Radio examples</h2>

        <form>

            @(Html.LabelledRadio("Radio1", m => m.Radio1)
                .Hint("An example of an inline radio (exactly two options)"))

            @(Html.LabelledRadio("Radio2", m => m.Radio2, RValues1Util.Descriptions)
                .Hint("Supplying specific descriptions"))

            @Html.LabelledRadio("Radio3", m => m.Radio3)

            @(Html.LabelledRadioYesNo(m => m.Radio4)
                .Hint("An example of an inline yes/no radio mapping to a nullable boolean in the model"))

        </form>

    </div><!--
--></div>
