@inherits WebViewPage<HarnessModel>
@using FormUI.Controllers.Harness
<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        <h2>Radio examples</h2>

        <form>

            @(Html.LabelledOptionalRadio("Radio1", m => m.Radio1)
                .Hint("An example of an inline radio (exactly two options)"))

            @(Html.LabelledOptionalRadio("Radio2", m => m.Radio2, RValues1Util.Descriptions)
                .Hint("Supplying specific descriptions"))


        </form>

    </div><!--
--></div>
