@inherits WebViewPage<HarnessModel>
@using FormUI.Controllers.Harness
<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        <h2>Show/Hide for checkbox example</h2>

        <form method="post">

            @Html.ValidationSummary()


            @Html.LabelledConfirmCheckBox("show/hide parts of the page", m => m.CheckBox1)

            @using (Html.ShowWhenChecked(m => m.CheckBox1, t => t.Id("hidden-part")))
            {
                <p>This part is hidden unless the check-box is checked</p>
            }

            @using (Html.HideWhenChecked(m => m.CheckBox1, t => t.Id("shown-part")))
            {
                <p>This part is visible when the check-box is unchecked</p>
            }


            @Html.LabelledConfirmCheckBox("show/hide parts of different parts of the page", m => m.CheckBox2)

            @using (Html.ShowWhenChecked(m => m.CheckBox2, t => t.Id("hidden-part2")))
            {
                <p>This part is hidden unless the check-box is checked</p>
            }

            @using (Html.HideWhenChecked(m => m.CheckBox2, t => t.Id("shown-part2")))
            {
                <p>This part is visible when the check-box is unchecked</p>
            }


            @Html.ButtonSubmit()

        </form>

    </div><!--
--></div>