@{
    ViewBag.Title = "Change of Circumstances - Complete";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        <h2>Received</h2>

        <p>
            Thank you for your application. Our average processing time is currently 10 working days.
            If you have any questions relating to your application you can contact us at:
        </p>

        @Html.Partial(SharedViews.SsaContactDetails, false)

    </div><!--
--></div>

