@{
    ViewBag.Title = CocText.TitlePrefix() + "Complete";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        <h1>Your changes have been received</h1>

        <h2>Received</h2>

        <p>
            Thank you for submitting your changes. Our average processing time is 10 working days. 
            If you have any questions relating to your submission you can contact us at:
        </p>

        @Html.Partial(SharedViews.SsaContactDetails, false)

        <br/>

        <h2>Further support</h2>

        <p>Get more information on <a href="https://www.mygov.scot/births-deaths-marriages/death-bereavement/bereavement-support-advice/children-bereavement/">bereavement support</a> if you've lost a child. Find out about other <a href="https://www.mygov.scot/births-deaths-marriages/children-parenting/financial-support-child/">financial support</a> to bring up a child.</p>

    </div><!--
--></div>

