@using FormUI.Controllers.Home
@{
    ViewBag.Title = "Password";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

    <p>
        You have reached a <span style="text-decoration: underline">test</span> site that is password protected;
        please supply the password below.
    </p>

    <form method="post">

        <div class="form-group">
            <label for="Password">Password</label>
            <div class="input-wrapper">
                <input id="Password" name="Password" class="form-control" type="password">
            </div>
        </div>

        @Html.ButtonSubmit()

    </form>

    </div><!--
--></div>
