@{
    ViewBag.Title = "Password";
}

<div>

    <p>This functionality is password protected; please supply the password below.</p>

    <div class="form-box">
        <form method="post" class="in-article-form main-content">
            <div class="form-group relative">
                <span class="required-icon">*</span>
                <label for="password">Password</label>
                <div class="input-wrapper">
                    <input id="password" name="password" class="grey form-control" type="password">
                </div>
            </div>
        </form>
    </div>

</div>
