@using FormUI.Controllers.Home
@{
    ViewBag.Title = "Password";
}

<div>

    <p>
        You have reached a <span style="text-decoration: underline">test</span> site that is password protected;
        please supply the password below.
    </p>

    <div class="form-box">
        <form method="post" class="in-article-form main-content">

            <div class="form-group relative">
                <span class="required-icon">*</span>
                <label for="password">Password</label>
                <div class="input-wrapper">
                    <input id="password" name="Password" class="grey form-control" type="password">
                </div>
            </div>

            @Html.ButtonSubmit()

        </form>
    </div>

</div>
