@inherits WebViewPage<PasswordPostModel>
@using FormUI.Controllers.Home
@{
    ViewBag.Title = "Password";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

    <p>
        You have reached a <span style="text-decoration: underline">test</span> site that is password protected;
        please supply the password below.
    </p>

    <form method="post">

        @Html.LabelledInputPassword("Password", m => m.Password)

        @Html.ButtonSubmit()

    </form>

    </div><!--
--></div>
