<p>The date of birth entered in the “About You” section indicates that you are under the age of 16. 
    As such, the <strong>parent/legal guardian</strong> entered in the “Parent/Legal Guardian’s Details” section is required 
    to consent to the below declaration. A notification will be send to your parent/legal guardian to confirm their consent.</p>

<h2>By submitting this application, you agree that:</h2>

<ul>
    <li>the information submitted by the applicant is complete and correct as far as you know</li>
    <li>the Social Security Agency may check your information with other government departments</li>
    <li>you'll pay back any money the applicant has been overpaid if you're asked to</li>
    <li>you'll report changes of your circumstances or those of the applicant promptly</li>
</ul>
