<h2>By sending this application you agree that:</h2>

<ul>
    <li>the information you've given is complete and correct as far as you know;</li>
    <li>the Social Security Agency may check your information with other government departments;</li>
    <li>you'll pay back any money you've been overpaid if you're asked to;</li>
    <li>you'll tell us if any of the information you’ve given change.</li>
</ul>

<div class="info-note caution">
    You could go to court or be fined if you give wrong information on purpose or don't report changes.
</div>
