<h2>By sending this application you agree that:</h2>

<ul>
    <li>the information you've given is complete and correct as far as you know;</li>
    <li>the Social Security Agency may check your information with other government departments;</li>
    <li>you'll pay back any money you've been overpaid if you're asked to;</li>
    <li>you'll report changes of your circumstances or those of the person you care for promptly.</li>
</ul>

<p>
    You could be prosecuted or have to pay a financial penalty if you deliberately give wrong or incomplete information or don't report changes.
</p>
