@inherits WebViewPage<bool>
<p>
    <dl>
        <dd>Social Security Agency</dd>
        <dd>1 Social Security House</dd>
        <dd>Scotland</dd>
    </dl>
    @if (!Model)
    {
        <br />
        <dl>
            <dd>Tel: 01010 101 010</dd>
            <dd>Email: enquiries@socialsecurity.gov.scot</dd>
        </dl>
    }
</p>