@inherits WebViewPage<Evidence>
<div class="answers-section">
    <h3>@BsgText.EvidenceTitle()</h3>
    <dl>
        @if (Model.Files != null && Model.Files.Count > 0)
        {
            for (var i = 0; i < Model.Files.Count; i++)
            {
                <dt>Uploaded file @(i + 1)</dt>
                <dd>@Model.Files[i].Name</dd>
            }
        }

        @Html.AnswerFor(m => m.SendingByPost)
    </dl>
</div>
